.App{
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}
.page-container{
  flex: 1 1;
  width: 100%;
  margin: auto;
  padding-bottom: 1rem;
}