.App{
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  font-family: "Armata",Sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}
.page-container{
  flex: 1 1;
  width: 100%;
  margin: auto;
  padding-bottom: 1rem;
}